version: "3.9"

services:
  spring-app:
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres-db:5432/aikp
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: 1234
    depends_on:
      - postgres-db
    restart: unless-stopped

  postgres-db:
    image: postgres:15-alpine
    environment:
      POSTGRES_DB: aikp
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 1234
    volumes:
      - pgdata:/var/lib/postgresql/data
    restart: unless-stopped

  frontend-app:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "8081:8080"  # host:container
    depends_on:
      - spring-app
    restart: unless-stopped

volumes:
  pgdata:
