spring:
  datasource:
    url: jdbc:postgresql://postgres-db:5432/aikp
    username: postgres
    password: 1234
    driver-class-name: org.postgresql.Driver
  jpa:
  #  database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    show-sql: true

  ai:
    openai:
      api-key: 0FD2A89B-00E4-F011-8365-129478FCB64D

server:
  port: 8080

logging:
  level:
    root: INFO
    org.springframework: INFO
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE
